.v-application {
    font-family: Cantarell
}

.v-btn__content {
	#color: #f9f9f9
}

.v-btn__content.error--text {
	color: red
}

.theme--light.v-application {
	background-color: #f0f0f0;
}

.theme--light.v-btn {
	color: #333333;
}

.theme--light.v-btn.v-btn--disabled, .theme--light.v-btn.v-btn--disabled .v-icon, .theme--light.v-btn.v-btn--disabled .v-btn__loading {
	color: #f9f9f9 !important;
}

.theme--light.v-subheader {
	color: #333333;
}

.theme--light.v-application .text--secondary {
	color: #333333;
}

.theme--light.v-icon {
	color: #f9f9f9
}

.v-icon__svg {
	color: #333333
}

.theme--light.v-toolbar.v-sheet .v-icon__svg {
	color: #f9f9f9
}

.v-application .warning--text {
	color: #ffc800 !important;
}

.v-application .warning--text .v-icon__svg {
	color: #ffc800 !important;
}

.v-application .error--text .v-btn__content {
	color: #ff4b47 !important;
	font-weight: bolder;
}

.v-application .error--text .v-icon__svg {
	color: #ff4b47 !important;
}

.theme--light.v-toolbar.v-sheet {
	background-color: #333333;
	color: #f9f9f9;
}

.theme--light.v-app-bar.v-toolbar.v-sheet {
	background-color: #333333;
	color: #f9f9f9;
}

.theme--light.v-card {
	color: #333333;
	background-color: #f9f9f9;
	border-color: #333333;
	border-style: none;
	box-shadow: 0px 0px 0.5em #999;
	border-radius: 0px;
}

.theme--light.v-card.col {
	color: yellow;
}

.v-sheet.v-card:not(.v-sheet--outlined) {
	box-shadow: 0px 0px 0.5em #999;
	border-radius: 0px;
}

.theme--light.v-tabs-items {
	background-color: #f9f9f9;
}

.theme--light.v-data-table {
	background-color: #f9f9f9;
}

.theme--light.v-tabs > .v-tabs-bar {
	background-color: #f9f9f9;
}

.consoleTableRow[data-v-0b063fc2] {
	font-family: JetBrains Mono
}

.theme--light.v-application .text--primary {
	color: #333333 !important
}

.theme--light.v-btn-toggle:not(.v-btn-toggle--group) {
	color: #333333
}

.theme--light.v-application .text--disabled {
	color: #f9f9f9 !important;
}

.theme--light.v-label--is-disabled {
    color: #444444;
}

.theme--light.v-text-field--outlined.v-input--is-disabled fieldset textarea input {
    border-color: #444444;
    border-radius: 0px;
    color: #444444;
}

.theme--light.v-input, .theme--light.v-input input, .theme--light.v-input textarea {
    color: #333333;
    border-color: #333333;
    border-radius: 0px;
}
